
config pihole 'FTL'
	option privacylevel '0'
	option blocking_enabled '1'
	option blocking_active '1'
	option logfile '/var/log/pihole/FTL.log'
	option maxdbdays '1'
	option addr2line '0'

config database
	option database '/etc/pihole/pihole-FTL.db'
	option gravity '/etc/pihole/gravity.db'
	option macvendor '/etc/pihole/macvendor.db'

config api
	option prettyJSON '1'

config webserver
	option theme 'default-darker'
	option boxed '1'

config debug
	option arp '0'
