config dns
	option blocking_active '1'

config files
	option database '/etc/pihole/pihole-FTL.db'
	option gravity '/etc/pihole/gravity.db'
	option log_ftl '/var/log/pihole/FTL.log'
	option log_webserver '/var/log/pihole/webserver.log'
	option macvendor '/etc/pihole/macvendor.db'

config misc
	option addr2line '0'
	option privacylevel '0'

config resolver
	option refreshNames 'unknown'

config database
	option maxDBdays '1'

config ntp
	option ipv6_active '0'
	option ipv4_active '0'
	option sync_active '0'

config webserver
	option api_prettyJSON '1'
	option interface_boxed '1'
	option port '8080'

config debug
	option database '0'
