
config pihole 'FTL'
	option interface 'lan'
	option dbfile '/etc/pihole/pihole-FTL.db'
	option gravitydb '/etc/pihole/gravity.db'
	option privacylevel '0'
	option blocking_enabled '1'
	option rate_limit '0/0'
	option logfile '/var/log/pihole-FTL.log'
	option maxdbdays '1'

config dns_server
	option name 'Google (ECS, DNSSEC)'
	list ipv4 '8.8.8.8'
	list ipv4 '8.8.4.4'
	list ipv6 '2001:4860:4860:0:0:0:0:8888'
	list ipv6 '2001:4860:4860:0:0:0:0:8844'

config dns_server
	option name 'OpenDNS (ECS, DNSSEC)'
	list ipv4 '208.67.222.222'
	list ipv4 '208.67.220.220'
	list ipv6 '2620:119:35::35'
	list ipv6 '2620:119:53::53'

config dns_server
	option name 'Level3'
	list ipv4 '4.2.2.1'
	list ipv4 '4.2.2.2'

config dns_server
	option name 'Comodo'
	list ipv4 '8.26.56.26'
	list ipv4 '8.20.247.20'

config dns_server
	option name 'DNS.WATCH (DNSSEC)'
	list ipv4 '84.200.69.80'
	list ipv4 '84.200.70.40'
	list ipv6 '2001:1608:10:25:0:0:1c04:b12f'
	list ipv6 '2001:1608:10:25:0:0:9249:d69b'

config dns_server
	option name 'Quad9 (filtered, DNSSEC)'
	list ipv4 '9.9.9.9'
	list ipv4 '149.112.112.112'
	list ipv6 '2620:fe::fe'
	list ipv6 '2620:fe::9'

config dns_server
	option name 'Quad9 (unfiltered, no DNSSEC)'
	list ipv4 '9.9.9.10'
	list ipv4 '149.112.112.10'
	list ipv6 '2620:fe::10'
	list ipv6 '2620:fe::fe:10'

config dns_server
	option name 'Quad9 (filtered, ECS, DNSSEC)'
	list ipv4 '9.9.9.11'
	list ipv4 '149.112.112.11'
	list ipv6 '2620:fe::11'
	list ipv6 '2620:fe::fe:11'

config dns_server
	option name 'Cloudflare (DNSSEC)'
	list ipv4 '1.1.1.1'
	list ipv4 '1.0.0.1'
	list ipv6 '2606:4700:4700::1111'
	list ipv6 '2606:4700:4700::1001'
